// -------------colors ------------//
$primary:     #28334b;
$secondary:   #2378ff;
$success:     #23d692;
$info:        #ff8e56;
$warning:     #fac545;
$danger:      #ff4d66;
$light:       #adb3c6;
$white:       #ffffff;


