#side-nav {
  width: $sidebar-width;
  transition: 0.5s all ease-in-out;
  @include media-query(md) {
    left: -90px;
    position: absolute;
    z-index: 6;
  }
  .nav{
    overflow-x:hidden;
    overflow-y:auto;  
  }
  .nav-header {
    height: $header-height;
    position: relative;
    .logo-image {
      height: 30px;
      position: absolute;
    }
    .img-big {
      z-index: -2;
      @include media-query(md){
        display: none;
      }
    }
    .close-icon {
      right: 12px;
      top: 10px;
    }
  }
  .nav-link-icon {
    width: 40px;
    margin-left: 20px;
    img {
      height: 25px;
    }
  }
  .nav-link-title {
    font-weight: 600;
   display: none;
  }
  .navlink {
    // justify-content: center;
    color: lighten($primary, 15%);
    &:hover,
    &:active,
    &.active {
      background: $secondary;
      color: $white;
      background: -webkit-linear-gradient(to right, lighten($secondary, 10%), $secondary 60%);
      background: linear-gradient(to bottom right, lighten($secondary, 10%), $secondary 60%);
    }
  }
}

// Sidebar Toggle
#nav-toggler {
  &:checked {
    & ~ #side-nav {
      width: 250px;
      left: 0;
     
      .img-big {
        display: block;
        z-index: 1;
        @include media-query(md) {
          z-index: 15;
        }
      }
      .img-sm {
        z-index: -2;
        @include media-query(md) {
          display: none;
        }
      }
      .nav-link-title {
       display: block;
       
      }
    }
  }
 
}
#close-nav {
  &:checked {
    & ~ #side-nav {
      left: -250px;
    
    }
  }
}
